body {
  font-family: "Helvetica", Sans-Serif;
  color: pink;
  background-color:rgb(60,60,60);
}

div {
  display: block;
  padding:20px;
  margin:20px;
  color:pink;
  background-color:rgb(120,120,120);
}

h1 {
  font-size: 4em;
}